@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
body{
    /* max-width: 1440px;
    margin: 0 auto; */
}
header{
    max-width: 1440px;
    margin: 0 auto;
}

/* shard style */
.margin-0{
    margin: 0;
}
.display-flex{
    display: flex;
}
.primary-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.btn-primary{
    font-weight: 700;
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px 25px;
    border: none;
}


.nav-link{
    text-decoration: none;
    font-weight: 600;

}
/* black-1 */
.black-1{
    color: #3A3A3A;
}



/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    
}
.nav-manu > ul{
    display: flex;
    list-style: none;
    gap: 34px;
}
.nav-hamburger{
    display: none;
}


/* banner related style */
.banner{
    justify-content: space-between;
    align-items: center;
}
.banner-text{
    max-width: 582px;
}
.banner-img{
    background-image: url('../images/bg.svg');
    margin-top: 50px;
}
.banner-img img{
    padding: 30px 33px 31px 2px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.25rem;
    margin: 5px;
}
.banner-description{
    font-weight: 700;
}
.banner-btn{
    border-radius: 41px;
}
/* sponsor related style */
.sponsor-section{
    max-width: 1110px;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
}
.collection-section{
    max-width: 1047px;
    margin: 100px auto;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
}
.section-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    
}
.cardbox{
    width: 329px;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #FFFFFF;
    background: rgb(255, 255, 255);
   
}
.cardbox-img{
    /* margin: 20px 15px; */
    display: flex;
    justify-content: center;
    margin-top: 17px;
}
.cardbox-other{
    margin-left: 14px;
    margin-bottom: 30px;
}
.box-title{
    font-size: 1.75rem;
    font-weight: 500;
    margin: 10px 0;
}
.prize{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
.ratting{
    font-size: 0.875rem;
    font-weight: 700;
}
.box-description{
    font-size: 0.875rem;
    font-weight: 700;
    color: rgb(120, 120, 133);
}
.feature-section{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
}
.feature-text{
    max-width: 610px;
}
.feature-title{
    font-size: 2.375rem;
    font-weight: 700;
    margin: 10px 0;
}
.feature-description{
    font-weight: 700;
    text-align: left;
}
footer{
    background-color: black;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin: 0;
}
.footer-text{
    font-size: 0.875rem;
    font-weight: 700;
    color: rgb(217, 219, 225);
    margin: 5px;
}
.footer{
   margin: 30px; 
}





/* responsive media query */
@media screen and (max-width: 576px) {
    *{
        margin: 0;
    }
    .banner,
    .feature-section{
        flex-direction: column-reverse;
    }
    nav{
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    nav > h4{
        font-size: 1.5rem;
    }
    .nav-manu ul{
        display: none;
    }
    .nav-manu .nav-hamburger{
        display: block;
        margin-top: 5px;
    }
    
    .banner-img{
        background-size: cover;
        width: 80%;
        margin-bottom: 30px;
        
    }
    .banner-img img{
        width: 80%;
        padding: 51px 33px 20px 22px;
    }
    .banner-text{
        margin-left: 22px;
        margin-right: 22px;
    }
    .banner-title{
        font-size: 28px;
        font-weight: 700;
        text-align: center;
    }
    .banner-description{
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    .banner-button{
        display: flex;
        justify-content: center;
    }
    .sponsor-section{
        flex-wrap: wrap;
        margin: 50px 22px 50px 22px;
        gap: 30px;
        justify-content: center;
    }
    .sponsor-section img{
        width: 15%;
    }
    .section-card{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .cardbox{
        margin: 0 auto;
    }
    .feature-section{
        gap: 30px;
    }
    .feature-text{
        width: 95%;
        margin: 0 auto;
    }
    .feature-title{
        font-size: 1.5rem;
        text-align: center;
    }
    .feature-description{
        text-align: center;
    }
    .feature-btn{
        display: flex;
        justify-content: center;
    }
    .feature-img{
        width: 80%;
        margin: 0 auto;
    }
    .feature-img img{
        width: 100%;
    }

    
}